<?xml version="1.0" encoding="utf-8"?>

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

  <appSettings>
    <add key="Environment" value="production" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="AllowInsecureHttp" value="false" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="AccessTokenLifetimeMinutes" value="120" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="RefreshTokenLifetimeMinutes" value="7200" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="NewRelic.AppName" value="authentication.retailbridge.co" xdt:Transform="Insert" />
  </appSettings>

  <connectionStrings>
    <add name="BridgeCommon" connectionString="Server=172.16.1.103;Database=bridgecommon;ApplicationName=Feria.Bridge.API.Authentication;User id=superadmin;Password=istesi_me_njezno" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
    <add name="BridgeLog" connectionString="Server=172.16.1.103;Database=bridgelog;ApplicationName=Feria.Bridge.API.Authentication;User id=superadmin;Password=istesi_me_njezno" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
  </connectionStrings>

  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
  </system.web>

</configuration>