<div class="form-group">
    <label class="sr-only" for="form-event-name">Name</label>
    <input ng-model="model.Name" type="text" name="EditEvent-name" placeholder="Event name..." class="form-username form-control" id="Edit-event-name">
</div>

<dropdown class="" model="model.EventTypeID" options="eventTypes"></dropdown>

<div class="form-group">
    <label class="sr-only" for="form-event-description">Description</label>
    <input ng-model="model.Description" type="text" name="EditEvent-description" placeholder="Event description..." class="form-username form-control" id="Edit-event-description">
</div>
<div class="form-group">
    <label class="sr-only" for="form-event-description">Radius</label>
    <input ng-model="model.Radius" type="text" name="EditEvent-description" placeholder="Event radius..." class="form-username form-control" id="Edit-event-description">
</div>
<div class="form-group">
    <label class="sr-only" for="form-event-start-date">Longitude</label>
    <input ng-model="model.Longitude" type="text" name="EditEvent-start-date" placeholder="Event longitude" class="form-username form-control" id="Edit-event-start-date">
</div>
<div class="form-group">
    <label class="sr-only" for="form-event-start-date">Latitude</label>
    <input ng-model="model.Latitude" type="text" name="EditEvent-start-date" placeholder="Event latitude" class="form-username form-control" id="Edit-event-start-date">
</div>
<div class="form-group">
    <label class="sr-only" for="form-event-start-date">Start Date</label>
    <input ng-model="model.StartDate" type="date" name="EditEvent-start-date" placeholder="Event start date..." class="form-username form-control" id="Edit-event-start-date">
</div>
<div class="form-group">
    <label class="sr-only" for="form-event-end-date">End Date</label>
    <input ng-model="model.EndDate" type="date" name="EditEvent-end-date" placeholder="Event end date..." class="form-username form-control" id="Edit-event-end-date">
</div>