<style type="text/css">
    #tblContainer, #tblcollections, #tblCRUD, td {
        border: double;
    }

    th {
        background-color: darkgray;
    }

    #dvcollection {
        height: 500px;
        overflow-y: scroll;
    }
</style>
<style>
    .CSSTableGenerator {
        margin: 0px;
        padding: 0px;
        width: 100%;
        box-shadow: 10px 10px 5px #888888;
        border: 1px solid #000000;
        -moz-border-radius-bottomleft: 0px;
        -webkit-border-bottom-left-radius: 0px;
        border-bottom-left-radius: 0px;
        -moz-border-radius-bottomright: 0px;
        -webkit-border-bottom-right-radius: 0px;
        border-bottom-right-radius: 0px;
        -moz-border-radius-topright: 0px;
        -webkit-border-top-right-radius: 0px;
        border-top-right-radius: 0px;
        -moz-border-radius-topleft: 0px;
        -webkit-border-top-left-radius: 0px;
        border-top-left-radius: 0px;
    }

        .CSSTableGenerator table {
            border-collapse: collapse;
            border-spacing: 0;
            width: 70%;
            height: 70%;
            margin: 0px;
            padding: 0px;
        }

        .CSSTableGenerator tr:last-child td:last-child {
            -moz-border-radius-bottomright: 0px;
            -webkit-border-bottom-right-radius: 0px;
            border-bottom-right-radius: 0px;
        }

        .CSSTableGenerator table tr:first-child td:first-child {
            -moz-border-radius-topleft: 0px;
            -webkit-border-top-left-radius: 0px;
            border-top-left-radius: 0px;
        }

        .CSSTableGenerator table tr:first-child td:last-child {
            -moz-border-radius-topright: 0px;
            -webkit-border-top-right-radius: 0px;
            border-top-right-radius: 0px;
        }

        .CSSTableGenerator tr:last-child td:first-child {
            -moz-border-radius-bottomleft: 0px;
            -webkit-border-bottom-left-radius: 0px;
            border-bottom-left-radius: 0px;
        }

        .CSSTableGenerator tr:hover td {
        }

        .CSSTableGenerator tr:nth-child(odd) {
            background-color: #aad4ff;
        }

        .CSSTableGenerator tr:nth-child(even) {
            background-color: #ffffff;
        }

        .CSSTableGenerator td {
            vertical-align: middle;
            border: 1px solid #000000;
            border-width: 0px 1px 1px 0px;
            text-align: left;
            padding: 7px;
            font-size: 10px;
            font-family: Arial;
            font-weight: normal;
            color: #000000;
        }

        .CSSTableGenerator tr:last-child td {
            border-width: 0px 1px 0px 0px;
        }

        .CSSTableGenerator tr td:last-child {
            border-width: 0px 0px 1px 0px;
        }

        .CSSTableGenerator tr:last-child td:last-child {
            border-width: 0px 0px 0px 0px;
        }

        .CSSTableGenerator tr:first-child td {
            background: -o-linear-gradient(bottom, #005fbf 5%, #003f7f 100%);
            background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #005fbf), color-stop(1, #003f7f) );
            background: -moz-linear-gradient( center top, #005fbf 5%, #003f7f 100% );
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#005fbf", endColorstr="#003f7f");
            background: -o-linear-gradient(top,#005fbf,003f7f);
            background-color: #005fbf;
            border: 0px solid #000000;
            text-align: center;
            border-width: 0px 0px 1px 1px;
            font-size: 12px;
            font-family: Arial;
            font-weight: bold;
            color: #ffffff;
        }

        .CSSTableGenerator tr:first-child:hover td {
            background: -o-linear-gradient(bottom, #005fbf 5%, #003f7f 100%);
            background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #005fbf), color-stop(1, #003f7f) );
            background: -moz-linear-gradient( center top, #005fbf 5%, #003f7f 100% );
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#005fbf", endColorstr="#003f7f");
            background: -o-linear-gradient(top,#005fbf,003f7f);
            background-color: #005fbf;
        }

        .CSSTableGenerator tr:first-child td:first-child {
            border-width: 0px 0px 1px 0px;
        }

        .CSSTableGenerator tr:first-child td:last-child {
            border-width: 0px 0px 1px 1px;
        }
</style>
<table id="tblcontainer" ng-app="crudModule" ng-controller="crudControllerDetalji">
    <tbody>
        <tr>
            <td>
                Za uređivanje kliknit na pismu

                <table class="CSSTableGenerator" id="tblcrud">
                    <tbody>
                        <tr>
                            <td>
                                <span>Id</span>
                            </td>
                            <td>
                                <input type="text" readonly="readonly" id="mID" ng-model="Id">
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <span>Ime</span>
                            </td>
                            <td>
                                <input type="text" readonly="readonly" id="mIme" required="" ng-model="Ime">
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <span>Izvodac</span>
                            </td>
                            <td>
                                <input type="text" readonly="readonly" id="mIzvodac" required="" ng-model="Izvodac">
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <span>Url</span>
                            </td>
                            <td>
                                <input type="text" readonly="readonly" id="mUrl" required="" ng-model="url">
                            </td>
                            <td>
                                <input type="text" readonly="readonly" id="mUrl" required="" ng-model="$routeParams">
                            </td>
                        </tr>

                        <tr></tr>
                    </tbody>
                </table>

            </td>
        </tr>
    </tbody>
</table>