<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>

    <script src="../../Scripts/angular.js"></script>
    <script src="../../Scripts/jquery-1.10.2.js"></script>
    <script src="../../Scripts/angular-route.min.js"></script>
    <link href="../../Content/Site.css" rel="stylesheet" />
    <link href="../../Content/bootstrap.css" rel="stylesheet" />
    <script src="../../Scripts/bootstrap.js"></script>
    <script src="../../MusicApp/Script/theMusic.js"></script>
    <script src="../../MusicApp/Script/MusicService.js"></script>
    <script src="../../MusicApp/Script/MusicListController.js"></script>
    <script src="../../MusicApp/Script/DetailsController.js"></script>

</head>
<body ng-app="theMusic">
    <h2>Music store</h2>
    <div ng-view></div>
</body>
</html>  