<config template="project (default)" platform="project">Created: sri tra 8 19:41:41 2015
By: Ante
Using Template: project (default)

&lt;description to go here>
<option value="" fromDef="true" name="icon"/>
    <option value="" fromDef="true" name="splashscreen"/>
    <option value="" fromDef="true" name="splashscreen-use-all"/>
    <option value="" fromDef="true" name="splashscreen-auto-onblack"/>
    <option value="Default" fromDef="true" name="assets"/>
    <option value="" fromDef="true" name="embed-icf"/>
    <option value="data/app.icf" fromDef="true" name="config"/>
    <option value="autoskola5" fromDef="true" name="name"/>
    <option value="autoskola5" fromDef="true" name="caption"/>
    <option value="Ante" fromDef="true" name="provider"/>
    <option value="(C) Ante" fromDef="true" name="copyright"/>
    <option value="0.0.1" fromDef="true" name="version"/>
    <option value="" fromDef="true" name="version-string"/>
</config>
