<?xml version="1.0" encoding="utf-8"?>

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

  <appSettings>
    <add key="Environment" value="production" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="FTPHost" value="ftp.studenac.hr" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="FTPUsername" value="ftpstudenac" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="FTPPassword" value="Fk26cfr8" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="FTPImportLegacyYearDocuments" value="/PROBA/COP_{0}/cop_{1}.zip" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="FTPImportLegacyDailyDocuments" value="/STUDENAC/COP/cop_{0}.zip" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="FTPImportLegacyMasterData" value="/STUDENAC/OP/op_init.zip" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="FTPImportLegacyMasterDataRskl" value="/STUDENAC/OP/rskl.cop" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="FTPImportLegacyMasterDataZon" value="/STUDENAC/OP/zon.cop" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="FTPImportLegacyMasterDataZonSkl" value="/STUDENAC/OP/zon_skl.cop" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="FTPImportLegacyStocks" value="/PROBA/COP/skl_{0}.zip" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="ImportBatchSize" value="10000" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="NewRelic.AppName" value="logistics.retailbridge.co" xdt:Transform="Insert" />
  </appSettings>

  <connectionStrings>
    <add name="BridgeTemplate" connectionString="Server=172.16.1.103;Database=bridge_{0}_{1};ApplicationName=Feria.Bridge.API.Logistics;User id=superadmin;Password=istesi_me_njezno" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
    <add name="BridgeLog" connectionString="Server=172.16.1.103;Database=bridgelog;ApplicationName=Feria.Bridge.API.Logistics;User id=superadmin;Password=istesi_me_njezno" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
  </connectionStrings>

  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
  </system.web>
</configuration>