<?xml version="1.0"?>
<unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
  <assembly name="SM.Store.Api"/>
  <assembly name="SM.Store.Api.DAL"/>
  <assembly name="SM.Store.Api.BLL"/>
  <alias alias="Category" type="SM.Store.Api.Entities.Category, SM.Store.Api.Entities" />
  <alias alias="ProductStatusType" type="SM.Store.Api.Entities.ProductStatusType, SM.Store.Api.Entities" />
  <container>
    <register type="SM.Store.Api.DAL.IStoreDataUnitOfWork" mapTo="SM.Store.Api.DAL.StoreDataUnitOfWork">
      <lifetime type="singleton" />
      <constructor>
        <!--Set placeholder for value attribute and replace it at runtime-->
        <param name="connectionString" value="{connectionString}" />
      </constructor>
    </register>    
    <!--Change data sources by mapping to different assembly.namespace.repository-->    
     <register type="SM.Store.Api.DAL.IGenericRepository[Category]" mapTo="SM.Store.Api.DAL.GenericRepository[Category]"/>
     <register type="SM.Store.Api.DAL.IGenericRepository[ProductStatusType]" mapTo="SM.Store.Api.DAL.GenericRepository[ProductStatusType]"/>
     <register type="SM.Store.Api.DAL.IProductRepository" mapTo="SM.Store.Api.DAL.ProductRepository"/>
     <register type="SM.Store.Api.BLL.IProductBS" mapTo="SM.Store.Api.BLL.ProductBS"/>
     <register type="SM.Store.Api.BLL.ILookupBS" mapTo="SM.Store.Api.BLL.LookupBS"/> 
  </container>  
</unity>
