<?xml version="1.0" encoding="utf-8"?>

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

  <appSettings>
    <add key="Environment" value="production" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="ApplicationUrl" value="https://retailbridge.co/" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="AuthenticationAPIUrl" value="https://authentication.retailbridge.co/" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="BusinessInteligenceAPIUrl" value="https://businessinteligence.retailbridge.co/" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="HumanResourcesAPIUrl" value="https://humanresources.retailbridge.co/" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="LogisticsAPIUrl" value="https://logistics.retailbridge.co/" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="NewRelic.AppName" value="retailbridge.co" xdt:Transform="Insert" />
  </appSettings>

  <connectionStrings>
    <add name="BridgeLog" connectionString="Server=172.16.1.103;Database=bridgelog;ApplicationName=Feria.Bridge.UI.Web;User id=superadmin;Password=istesi_me_njezno" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
  </connectionStrings>

  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
  </system.web>
</configuration>