<?xml version="1.0" encoding="utf-8"?>

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

  <appSettings>
    <add key="Environment" value="production" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="NewRelic.AppName" value="humanresources.retailbridge.co" xdt:Transform="Insert" />
  </appSettings>

  <connectionStrings>
    <add name="BridgeTemplate" connectionString="Server=172.16.1.103;Database=bridge_{0}_{1};ApplicationName=Feria.Bridge.API.HumanResources;User id=superadmin;Password=istesi_me_njezno" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
    <add name="BridgeLog" connectionString="Server=172.16.1.103;Database=bridgelog;ApplicationName=Feria.Bridge.API.HumanResources;User id=superadmin;Password=istesi_me_njezno" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
  </connectionStrings>

  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
  </system.web>
</configuration>